# skip DRM output, graphics, csv's
sims

# skip focused analysis/experiments/results
Analyses

# skip EXOSIMS source code
EXOSIMS

# skip ipyparallel per-user config
# this can be remade with "make ipp-create"
ipyparallel/*

# python byte-compiled files
*.pyc

# vi backup files
*~
# emacs tempfiles
\#*\#

# mac metadata files (sometimes _. is doubled)
.*DS_Store

# network file system (NFS) hidden files
.nfs*

# exclude web server log files, except the README placeholder
Local/www-service/var/*
!Local/www-service/var/README

# ignore this dir, it is generated
Local/www-resources/doc/*
!Local/www-resources/doc/README

# play area for documentation
util/sandbox

# remove the scripts from source control
Scripts

